body {
    background: #2C2617;
}

h1 {
    font-weight: double;
    font-size: 50px;
    text-shadow: 5px 5px 5px white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

h1,
h2 {
    padding: 10px;
}

ul {
    list-style: none;
}

ol,
ul {
    padding-bottom: 0;
}

label {
    color: white;
}


/* INICIO PAGINA DE ACERCA DE */

.row {
    padding: 25px 0;
}

.col-acercade1 {
    background-color: #241D11;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #FCD36D;
}

.col-acercade2 {
    background-color: #241D11;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #FCD36D;
}

.col-acercade3 {
    background-color: #241D11;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #FCD36D;
}

.col,
.col1 {
    background-color: #241D11;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #FCD36D;
}

.col4 {
    box-shadow: 10px 10px 15px #FCD36D;
    border-radius: 15px;
}

.col3 {
    background-color: #241D11;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #FCD36D;
}

.image-acerca {
    margin: 45px auto;
}

.image-acerca1 {
    margin: 35px auto;
}

.image-acercade {
    margin: 5px auto;
}

.text-acercade,.text-acercade1,
.text-acercade2,.text-acercade3,
.text-acercade4,.text-acercade5,
.text-acercade6  {
    color: white;
}

/*  CONTACTO */

.col-contacto {
    margin: 54px 0;
    padding: 20px;
    background-color: #241D11;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #FCD36D;
    color: white;
}

.img-contacto {
    width: 100%;
    border-radius: 15px;
}


/* INICIO PAGINA DE MULTIMEDIA */

.multimedia {
    background-color: #2C2617;
}

.col-multimedia {
    background-color: #241D11;
}

.audio-title {
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

.audio-info a {
    font-size: 12px;
    font-weight: lighter;
    color: white;
}

.playlist {
    background: #241D11;
    border-radius: 15px box-shadow: 10px 10px 15px #FCD36D;
}

#playlist,
audio {
    background: #666;
    width: 100%;
    padding: 20px;
}

.active a {
    color: #FCD36D;
    text-decoration: none;
}

li a {
    color: white;
    padding: 5px;
    display: block;
    text-decoration: none;
}

li a:hover {
    color: #FCD36D;
    ;
    text-decoration: none;
}

img.disco {
    margin: 0 auto;
    border-radius: 50%
}

.video {
    width: 100%;
    border-radius: 15px;
}

iframe {
    width: 100%;
    height: 644px;
}

.video-iframe {
    border-radius: 15px;
}


/* -------------- INDEX ------------------*/

ol li {
    color:white;
}

.text-eventos {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#carousel {
    margin-top: 26px;
}

.carousel-img {
    height: 800px;
    width: 2000px;
}

.img-ubicacion1 {
    height: 200px;
}

.info-evento {
    margin: 50px;
}

.info-evento p {
    color: white;
}


/* FOOTER ALL PAGES */

footer {
    text-align: right;
    color: white;
    background: #251F11;
}

.footer {
    margin: 0 auto;
    padding: 25px 0;
    max-width: 970px;
    text-align: center;
}

.footer h6 {
    border-top: 1px solid #CCCCCC;
    padding: 15px 0;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
}

.footer ul {
    list-style: none;
}

.footer li {
    display: inline-block;
    padding: 0 5px;
}

.footer .icono {
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
    background-image: url(../images/sprite.png);
}

.footer .fb {
    background-position: 0 0;
}

.footer .gp {
    background-position: 0 -36px;
}

.footer .tw {
    background-position: -1px -72px;
}

.footer .in {
    background-position: -1px -108px;
}

.footer .pi {
    background-position: 0 -144px;
}

.footer .yt {
    background-position: -1px -180px;
}

.footer .ig {
    background-position: -1px -216px;
}

.footer-info {
    padding-right: 25px;
}

.footer-share {
    padding-left: 23px;
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    .informacion {
        margin: 15% auto;
    }
    .informacion-acercade {
        margin: 15% auto;
    }
    .text-acercade1, .text-acercade2,
    .text-acercade3, .text-acercade4,
    .text-acercade5, .text-acercade6 {
        padding-top: 10px;
    }
    /* INDEX */
    .informacion-index {
        margin: -10% auto;
    }
    .info-evento {
        margin: 20px;
    }
    .img-ubicacion1 {
        height: 100px;
    }
    .carousel-caption {
        display: none;
    }
    /*MULTIMEDIA*/
    iframe {
        width: 100%;
        height: 100%;
    }
    iframe .audio-playlist {
        width: 100%;
    }
    /*CONTACTO*/
    .info-contacto {
        padding: 0;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .informacion {
        margin: 10% auto;
    }
    .informacion-index {
        margin: 0 auto;
    }
    .informacion-acercade {
        margin: 10% auto;
    }
    /* INDEX */
    .img-ubicacion1 {
        height: 150px;
    }
    .carousel-caption {
        display: none;
    }
    /* MULTIMEDIA */
    iframe {
        width: 100%;
        height: 250px;
    }
    iframe .audio-playlist {
        width: 100%;
    }
    /*CONTACTO*/
    .info-contacto {
        padding: 0;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .informacion {
        margin: 60px auto;
    }
    .informacion-acercade {
        margin: 60px auto;
    }
    .informacion-index {
        margin: 0 auto;
    }
    .text-acercade {
        padding-top: 45px;
    }
    .text-acercade1 {
        padding-top: 60px
    }
    .text-acercade2 {
        padding-top: 80px
    }
    .text-acercade3 {
        padding-top: 8px
    }
    .text-acercade4 {
        padding-top: 35px
    }
    .text-acercade5 {
        padding-top: 75px
    }
    .text-acercade6 {
        padding-top: 68px
    }

    .col-acercade1 {
        height: 328px;
    }
    .col-acercade2 {
        height: 340px
    }
    .col-acercade3 {
        height: 220px
    }
    .col-multi {
        height: 340px;
    }
    .audio {
        padding: 50px 100px;
    }
    /* MULTIMEDIA */
    .audio-playlist {
        margin: 0 65px;
        display: inline-block;
    }
    .col-multimedia {
        height: 350px
    }
    iframe {
        width: 100%;
        height: 408px;
    }
    iframe .audio-playlist {
        width: 100%;
    }
    /*CONTACTO*/
    .info-contacto {
        padding: 100px 45px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .multimedia {
        background: black url(../images/logo.png) repeat;
    }
    .info {
        padding: 50px;
    }
    .col1 {
        height: 642px
    }
    .col-acercade1 {
        height: 335px;
    }
    .col-acercade2 {
        height: 222px;
    }
    .col-acercade3 {
        height: 284px;
    }
    .image-acerca {
        margin: 14px auto;
        border-radius: 15px;
    }
    .image-acerca1 {
        margin: 40px auto;
        border-radius: 15px;
    }
    .image-acercade {
        border-radius: 15px;
    }
    .text-acercade {
        padding-top: 25px;
    }
    .text-acercade1 {
        padding-top: 25px;
    }
    .text-acercade2 {
        padding-top: 50px;
    }
    .text-acercade3 {
        padding-top: 0;
    }
    .text-acercade4 {
        padding-top: 0;
    }
    .text-acercade5 {
        padding-top: 30px
    }
    .text-acercade6 {
        padding-top: 25px
    }
    /*Multimedia*/
    iframe {
        width: 100%;
        height: 530px;
    }
    iframe .audio-playlist {
        width: 100%;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    /*Multimedia*/
    iframe {
        width: 100%;
        height: 630px;
    }
    iframe .audio-playlist {
        width: 100%;
    }
    .image-acerca {
        margin: 8px auto;
    }
    .col-acercade3 {
        height: 341px;
    }
}
